<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CommonCoreLib" version="1.0.0" targetFramework="net48" />
  <package id="CommonExtensionLib" version="1.0.0" targetFramework="net48" />
  <package id="CommonStyleLib" version="1.0.0" targetFramework="net48" />
  <package id="Microsoft.Xaml.Behaviors.Wpf" version="1.1.19" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net48" />
  <package id="Prism.Core" version="8.0.0.1909" targetFramework="net48" />
  <package id="ReactiveProperty" version="7.5.1" targetFramework="net48" />
  <package id="ReactiveProperty.Core" version="7.5.1" targetFramework="net48" />
  <package id="SavannahXmlLib" version="1.0.1" targetFramework="net48" />
  <package id="System.Collections" version="4.3.0" targetFramework="net48" />
  <package id="System.ComponentModel.Annotations" version="5.0.0" targetFramework="net48" />
  <package id="System.ObjectModel" version="4.3.0" targetFramework="net48" />
  <package id="System.Reactive" version="5.0.0" targetFramework="net48" />
  <package id="System.Reactive.Core" version="5.0.0" targetFramework="net48" />
  <package id="System.Reactive.Interfaces" version="5.0.0" targetFramework="net48" />
  <package id="System.Reactive.Linq" version="5.0.0" targetFramework="net48" />
  <package id="System.Reactive.PlatformServices" version="5.0.0" targetFramework="net48" />
  <package id="System.Reactive.Windows.Threading" version="5.0.0" targetFramework="net48" />
  <package id="System.Reflection" version="4.3.0" targetFramework="net48" />
  <package id="System.Reflection.Extensions" version="4.3.0" targetFramework="net48" />
  <package id="System.Runtime" version="4.3.1" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="5.0.0" targetFramework="net48" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net48" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net48" />
</packages>